In [3]:
import pandas as pd

In [4]:
iris = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv")

In [5]:
print(f"Our data is of type {type(iris)}")  # print the datatype

Our data is of type <class 'pandas.core.frame.DataFrame'>

In [6]:
display(iris.head())  # print only the first five rows

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [7]:
display(iris.tail())  # print only the last five rows

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [8]:
display(iris.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

None

In [10]:
display(iris.shape)

(150, 5)

In [2]:
# Access the first row, first column
display(iris.iloc[0, 0])

5.1

In [11]:
# Access the first row, 'sepal_length' column,
display(iris.loc[0, "sepal_length"])

# Access the second and third rows, 'petal_length' column
display(iris.loc[1:2, "petal_length"])

# Access the first ten rows, last three columns
display(iris.loc[0:9, "petal_width":"species"])

5.1

1    1.4
2    1.3
Name: petal_length, dtype: float64

   petal_width species
0          0.2  setosa
1          0.2  setosa
2          0.2  setosa
3          0.2  setosa
4          0.2  setosa
5          0.4  setosa
6          0.3  setosa
7          0.2  setosa
8          0.2  setosa
9          0.1  setosa

In [14]:
# Access the last row, last three columns
display(iris.loc[1, "petal_width"])

0.2

In [13]:
# Access the whole 'species' column
iris_species_data = iris.loc[:, "species"]
display(iris_species_data)

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [16]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000